@import url(fonts/simplifica/stylesheet.css);

:root{
    --color-white: #e6e6e6;
    --color-black: #0B0C10;
    --color-blue: #1F2833;
    --color-grey: #C5C6C7;
    --color-dgrey:rgb(154, 156, 158);
    --color-lgreen: #66FCF1;
    --color-dgreen: #45A29E;
    --color-title-green: #4CAF50;
}

div.sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 1.5%;
}

.texto{
    font-family: simplificasimplifica;
    font-weight: bold;
    font-size: 25px;
}

.texto.android-text{
    font-family: simplificasimplifica;
    font-weight: bold;
    font-size: 15px !important;
}

.pdf{
    height: 50px;
    position: absolute;
    right: 0px;
    top: 0px;
}

#titleContainer{
    -webkit-box-shadow: 0px -1px 22px 0px #000000; 
    box-shadow: 0px -1px 22px 0px #000000;
    width: 100%;
    border-top: none;
    background-color: var(--color-blue);
    border-bottom: 2px solid var(--color-dgreen);
    color: var(--color-lgreen);
}
#titleContainer.dark{
    -webkit-box-shadow: 0px -1px 22px 0px rgba(255, 255, 255, 0.19) !important; 
    box-shadow: 0px -1px 22px 0px rgba(255, 255, 255, 0.19) !important;
}

.tituloPagina{
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    font-size: 50px;
    font-family: simplificasimplifica; /*font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;*/
    text-transform: uppercase;
}

body{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    height: 100%;
    background-color: var(--color-dgrey);
}

body.dark{
    background-color: #121212 !important;
}

#mainContainer{
    background: transparent;
    padding-left: 15%;/* EXPERIMENTAL */
}

#visibleCheck{
    border-bottom: 2px solid var(--color-black);
}
#visibleCheck.dark{
    border-bottom: 2px solid var(--color-white);
}

#passwordPwd{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--color-black);
}
#passwordPwd.dark{
    border-bottom: 2px solid var(--color-white);
}

#bloquePassword{
    margin: 0.01em 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
    float: left;
    z-index: 1;
}
#bloquePassword.dark{
    box-shadow: 0 4px 10px 0 rgba(255, 255, 255, 0.2),0 4px 20px 0 rgba(255, 255, 255, 0.19) !important;
}

.checkbox{
    height: 25px;
    width: 25px;
    float: right;
}

.titleForm{
    color: #fff !important;
    background-color: var(--color-title-green) !important;
    padding: 0.01em 16px;
}
.titleForm.dark{
    background-color: #102A43 !important;
}

.subtitleForm{
    padding: 0.01em 16px;
    background-color: var(--color-dgrey) !important;
}
.subtitleForm.dark{
    background-color: #006e63 !important;
}

.basicContent{
    background-color: var(--color-grey);
    font-size: 20px;
    padding: 5px;
    padding-left: 0px;
}
.basicContent.dark{
    background-color: rgb(59, 68, 77);
    color: var(--color-white);
}

meter {
    /* Reset the default appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  
    /* For Firefox */
    background: #EEE;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2) inset;
    border-radius: 3px;
    border: solid var(--color-black) 1px;
}
  
  /* WebKit */
meter::-webkit-meter-bar {
    background: #EEE;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2) inset;
    border-radius: 3px;
}
  
meter::-webkit-meter-optimum-value,
meter::-webkit-meter-suboptimum-value,
meter::-webkit-meter-even-less-good-value {
    border-radius: 3px;
}
  
meter::-webkit-meter-optimum-value {
    background: #86CC00;
}
  
meter::-webkit-meter-suboptimum-value {
    background: #FFDB1A;
}
  
meter::-webkit-meter-even-less-good-value  {
    background: #CC4600;
}
  
  
/* Firefox */
meter::-moz-meter-bar {
    border-radius: 3px;
}
  
meter:-moz-meter-optimum::-moz-meter-bar {
    background: #86CC00;
}
  
meter:-moz-meter-sub-optimum::-moz-meter-bar {
    background: #FFDB1A;
}
  
meter:-moz-meter-sub-sub-optimum::-moz-meter-bar {
    background: #CC4600;
}

ul{
    margin: 0px;
}

h2{
    margin: 10px 0;
}

h3{
    margin: 10px 0;
}

div.container{
    padding: 10px;
}

.inline{
    display: inline-block;
}

.block{
    display: block;
}

.center{
    text-align: center !important;
}

#containerLeft{
    display: inline-grid;
}

#bloqueInfo{
    margin: 0.01em 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
    float: left;
}
#bloqueInfo.dark{
    box-shadow: 0 4px 10px 0 rgba(255, 255, 255, 0.2),0 4px 20px 0 rgba(255, 255, 255, 0.19) !important;
}

#bloqueMetricas{
    margin: 0.01em 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
    float: left;
}
#bloqueMetricas.dark{
    box-shadow: 0 4px 10px 0 rgba(255, 255, 255, 0.2),0 4px 20px 0 rgba(255, 255, 255, 0.19) !important;
}

.grid-container{
    display: grid;
    grid-template-columns: 10% 15% 15% auto auto auto;
}

.descripcionMetrica{
    grid-column: 1/5;
}

.grid-container > div{
    text-align: left;
    padding: 5px;
    display: block;
    transition: transform .2s;
}

.celda{
    background-color: var(--color-grey);
}
.celda.dark{
    background-color: rgb(59, 68, 77);
    color: var(--color-white);
}

.zoom{
    transition: transform .2s;
    z-index: 0;
}

.zoom:hover{
    transform: scale(1.02);
}

#additions{
    grid-column: 1/5;
}

.grid-separator{
    background-color: var(--color-blue) !important;
    color: var(--color-white);
}

.grid-separator.dark{
    background-color: #1F1A24 !important;
}

.grid-title{
    border-right: solid 1px grey;
    border-bottom: solid 1px gray;
}

.grid-bottom-left-corner{
    border-right: solid 1px grey;
    border-bottom: solid 1px gray;
}

.grid-left-side{
    border-bottom: solid 1px grey;
    border-right: solid 1px grey;
}

.grid-mid-mid{
    border-left: solid 1px grey;
    border-right: solid 1px grey;
    border-bottom: solid 1px grey;
}

.grid-bottom-mid{
    border-right: solid 1px grey;
    border-bottom: solid 1px gray;
    border-left: solid 1px grey;
}

.grid-right{
    border-bottom: solid 1px grey;
}

.grid-bottom-right-corner{
    border-bottom: solid 1px gray;
}

#deductions{
    grid-column: 1/8;
}

#varios{
    grid-column: 1/6;
}

.grid-double{
    grid-column: 6/8;
}

div[mellt="bad"]{
    color: red;
}

div[mellt="mild"]{
    color: rgb(158, 155, 0);
}

div[mellt="good"]{
    color: green;
}

div[mellt="excep"]{
    color: rgb(0, 0, 202);
}

div[value="bad"]{
    background-color: #c20000;
}

div[value="mild"]{
    background-color: #f3bc08;
    color: grey;
}

div[value="good"]{
    background-color: #009b1a;
}

div[value="excep"]{
    background-color: #003980;
}

.white{
    color: var(--color-white);
    font-weight: bold;
}

/* .switch {
    padding-left: 2%;
    width: 5%;
    height: 20px;
    position: absolute;
} */

.switch {
    width: 100px;
    height: 25px;
    position: absolute;
    margin-top: 1.75vh;
    margin-left: 1.4vw;
}

.switch input {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    opacity: 0;
    z-index: 100;
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.switch label {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    background: var(--color-black);
    border-radius: 40px;
    box-shadow:
        inset 0 3px 8px 1px rgba(0,0,0,0.2),
        0 1px 0 rgba(255,255,255,0.5);
}

.switch label i {
    display: block;
    height: 100%;
    width: 60%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    border-radius: inherit;
    background: #b2ac9e; /* Fallback */
    background: linear-gradient(#f3f2f7, var(--color-blue));
    box-shadow:
        inset 0 1px 0 var(--color-white),
        0 0 8px rgba(0,0,0,0.3),
        0 5px 5px rgba(0,0,0,0.2);
}

.switch label i:after {
    content: "";
    position: absolute;
    left: 15%;
    top: 25%;
    width: 70%;
    height: 50%;
    background: #d2cbc3; /* Fallback */
    background: linear-gradient(var(--color-blue), var(--color-blue));
    border-radius: inherit;
}

.switch label i:before {
    content: "dark";
    position: absolute;
    top: 75%;
    right: -50%;
    margin-top: -12px;
    color: grey; /* Fallback */
    color: grey;
    font-style: normal;
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 10px;
    text-transform: uppercase;
}

.switch input:checked ~ label { /* Background */
    background: var(--color-white);
}

.switch input:checked ~ label i { /* Toggle */
    left: auto;
    right: -1%;
}

.switch input:checked ~ label i:before { /* On/off */
    content: "white";
    right: 105%;
    color: var(--color-black);
}

/* mensaje de error al querer generar pdf con password vacío*/
.alert {
    padding: 20px;
    background-color: #f44336;
    color: var(--color-white);
    border-radius: 40px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    text-align: center;
    font-family: simplificasimplifica;
    font-size: 25px;
    position: absolute;
    float: left;
    left: 5%;
    right: 5%;
    z-index: 100;
    transition: 0.3s;
}
.alert.hidden{
    opacity: 0;
    transition: 0.3s;
}
  
.closebtn {
    color: var(--color-white);
    font-weight: bold;
    float: right;
    font-size: 30px;
    line-height: 25px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn.hidden{
    display: none;
}
  
.closebtn:hover {
    color: black;
}