@import url(fonts/simplifica/stylesheet.css);

:root{
    --color-black: #0B0C10;
    --color-blue: #1F2833;
    --color-grey: #C5C6C7;
    --color-lgreen: #66FCF1;
    --color-dgreen: #45A29E;
}

div.sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 1.5%;
}

.texto{
    font-family: simplificasimplifica;
    font-weight: bold;
    font-size: 25px;
}

.android-text{
    font-family: simplificasimplifica;
    font-weight: bold;
    font-size: 15px;
}

div.titleContainer{
    -webkit-box-shadow: 0px -1px 22px 0px #000000; 
    box-shadow: 0px -1px 22px 0px #000000;
    width: 100%;
    border-top: none;
    background-color: var(--color-blue);
    border-bottom: 2px solid var(--color-dgreen);
    color: var(--color-lgreen);
}

.tituloPagina{
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    font-size: 50px;
    font-family: simplificasimplifica; /*font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;*/
    text-transform: uppercase;
}

body{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    height: 100%;
    background-color: var(--color-grey);
}

#mainContainer{
    background: transparent;
}

input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
}

#bloquePassword{
    margin: 0.01em 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
    float: left;
    z-index: 1;
}

.checkbox{
    height: 25px;
    width: 25px;
    float: right;
}

.titleForm{
    color: #fff !important;
    background-color: #4CAF50 !important;
    padding: 0.01em 16px;
}

.subtitleForm{
    padding: 0.01em 16px;
}

.basicContent{
    background-color: white;
    font-size: 20px;
    padding: 5px;
    padding-left: 0px;
}

meter {
    /* Reset the default appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  
    /* For Firefox */
    background: #EEE;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2) inset;
    border-radius: 3px;
}
  
  /* WebKit */
meter::-webkit-meter-bar {
    background: #EEE;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2) inset;
    border-radius: 3px;
}
  
meter::-webkit-meter-optimum-value,
meter::-webkit-meter-suboptimum-value,
meter::-webkit-meter-even-less-good-value {
    border-radius: 3px;
}
  
meter::-webkit-meter-optimum-value {
    background: #86CC00;
}
  
meter::-webkit-meter-suboptimum-value {
    background: #FFDB1A;
}
  
meter::-webkit-meter-even-less-good-value  {
    background: #CC4600;
}
  
  
/* Firefox */
meter::-moz-meter-bar {
    border-radius: 3px;
}
  
meter:-moz-meter-optimum::-moz-meter-bar {
    background: #86CC00;
}
  
meter:-moz-meter-sub-optimum::-moz-meter-bar {
    background: #FFDB1A;
}
  
meter:-moz-meter-sub-sub-optimum::-moz-meter-bar {
    background: #CC4600;
}

ul{
    margin: 0px;
}

h2{
    margin: 10px 0;
}

h3{
    margin: 10px 0;
    background-color: var(--color-grey);
}

#containerInput{
    background-color: white;
}

div.container{
    padding: 10px;
}

.inline{
    display: inline-block;
}

.block{
    display: block;
}

.center{
    text-align: center !important;
}

#containerLeft{
    display: inline-grid;
}

#bloqueInfo{
    margin: 0.01em 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
    float: left;
}

#bloqueMetricas{
    margin: 0.01em 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
    float: left;
}

.grid-container{
    display: grid;
    grid-template-columns: 10% 15% 15% auto auto auto;
}

.descripcionMetrica{
    grid-column: 1/5;
}

.grid-container > div{
    text-align: left;
    padding: 5px;
    display: block;
    transition: transform .2s;
}

.zoom{
    transition: transform .2s;
    z-index: 0;
}

.zoom:hover{
    transform: scale(1.01);
}

#additions{
    grid-column: 1/5;
}

.grid-separator{
    background-color: var(--color-blue);
    color: white;
}

.grid-title{
    border-right: solid 1px grey;
    border-bottom: solid 1px gray;
}

.grid-bottom-left-corner{
    border-right: solid 1px grey;
    border-bottom: solid 1px gray;
}

.grid-left-side{
    border-bottom: solid 1px grey;
    border-right: solid 1px grey;
}

.grid-mid-mid{
    border-right: solid 1px grey;
    border-bottom: solid 1px grey;
}

.grid-bottom-mid{
    border-right: solid 1px grey;
    border-bottom: solid 1px gray;
}

.grid-right{
    border-bottom: solid 1px grey;
}

.grid-bottom-right-corner{
    border-bottom: solid 1px gray;
}

#deductions{
    grid-column: 1/8;
}

#varios{
    grid-column: 1/6;
}

.grid-double{
    grid-column: 6/8;
}

div[mellt="bad"]{
    color: red;
}

div[mellt="mild"]{
    color: rgb(158, 155, 0);
}

div[mellt="good"]{
    color: green;
}

div[mellt="excep"]{
    color: rgb(0, 0, 202);
}

div[value="bad"]{
    background-color: #c20000;
}

div[value="mild"]{
    background-color: #e7d000;
}

div[value="good"]{
    background-color: #009b1a;
}

div[value="excep"]{
    background-color: #003980;
}

.white{
    color: rgb(230, 230, 230);
}